apiVersion: v1
kind: Service
metadata:
  name: user-service
  labels:
    app: roguelearn-app
    component: backend
spec:
  type: ClusterIP
  selector:
    app: user
  ports:
    - port: 80
      targetPort: 80
      protocol: TCP
      name: http
    - port: 443
      targetPort: 443
      protocol: TCP
      name: https
